nav.navbar {
  background-color: rgb(253, 208, 0)
}
.jumbotron, .breadcrumb {
  background-color: rgb(255, 250, 229)
}
var:before {
  content: "{"
}
var:after {
  content: "}"
}

dd[lang]::after {
  content: "@"attr(lang);
  font-size: smaller;
  color: green;
  padding-left: 1px;
}

.btn-nhk4school {
  background-color: rgb(253, 208, 0);
  border-color: rgb(253, 208, 0);
}
.btn-sukilam {
  background-color: #567B8A;
  border-color: #567B8A;
}
.btn-textbook {
  background-color: #0f254d;
  color: white;
}

span.url, td.url {
  word-break: break-all;
}

/* about */
dd i {
  font-size: 1.3rem;
  margin-right: 8px;
}
.label {
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 5px;
  color: white;
  margin-right: 10px;
  display: inline-block;
}
.paper { background-color: #007bff; } /* 青 (論文刊行) */
.presentation { background-color: #28a745; } /* 緑 (研究発表) */
.award { background-color: #ffc107; color: black; } /* 黄 (受賞) */
.info { background-color: #6c757d; } /* グレー (その他お知らせ) */