nav.navbar {
  background-color: rgb(253, 208, 0)
}
.jumbotron, .breadcrumb {
  background-color: rgb(255, 250, 229)
}
var:before {
  content: "{"
}
var:after {
  content: "}"
}

dd[lang]::after {
  content: "@"attr(lang);
  font-size: smaller;
  color: green;
  padding-left: 1px;
}

.btn-nhk4school {
  background-color: rgb(253, 208, 0);
  border-color: rgb(253, 208, 0);
}

span.url, td.url {
  word-break: break-all;
}
