<h2>概要</h2>
<p>学習指導要領LODは、文部科学省が公開している学習指導要領と教育要領の内容・コードおよび関連する情報を Linked Open Data (LOD) として公開します。LOD化の対象は、現在公開されている全ての学校種別の新旧学習指導要領と教育要領（一部改正を含む）コード表の最新版です。具体的には、公開されている18件の学習指導要領と教育要領コード表を含みます。</p>
<p> 文部科学省がオープンデータとして公開したコード表に対して、広く活用可能なURIを付与するだけでなく、学習基礎データの利活用に向けて、細目コードおよびその他の関連情報のURIを永続的な識別子としたデータモデルを構築し、再利用可能なLODデータセットとして公開しています。</p>
<p>本データセットは、元のコード表と同一ライセンス (CC BY 4.0) のもと、構造化されたRDF/Turtle形式で公開するとともに、解決可能なウェブデータとしても提供しています。</p>
<p>今後、既に構築済みの「<a href="https://w3id.org/jp-textbook/">教科書LOD</a>」との連携や、<a href="https://jpsearch.go.jp">ジャパンサーチ</a>をはじめとするデジタルアーカイブとの連携など、学習のためのコンテンツとの関連付けを通じて、さまざまな活用を進めていきます。ご要望やご質問は<a href="#contact">連絡先</a>までお願いいたします。</p>
<p>参考：<a href="https://www.mext.go.jp/a_menu/other/data_00001.htm">文部科学省　教育データ標準</a></p>

<h2>お知らせ</h2>
<dl>
  <dt>2021年12月21日
  <dd>カレントアウェアネス・ポータルによる紹介記事「<a href="https://current.ndl.go.jp/node/45366">「学習指導要領LOD」が公開：文部科学省が公開する学習指導要領と教育要領の内容等をLOD化</a>」が公開されました
  <dt>2021年12月14日
  <dd>研究会メンバーの大井さんによる紹介記事「<a href="https://labo.wtnv.jp/2021/12/lod.html">学習指導要領LODの公開</a>」（東京大学大学院 渡邉英徳研究室）が公開されました
</dl>

<h2>LOD語彙</h2>
<p>
学習指導要領LODの主なリソースのモデル図を以下に示します。 なお、学習指導要領LODのベースURI <code>https://w3id.org/jp-cos/</code> を下図では <code>cs:</code> のプレフィックスを使って示します。
</p>
<p>
<img src="lod-model.png" alt="学習指導要領LODのモデル図">
</p>
