<h2>概要</h2>
<p>学習指導要領LODは、文部科学省が公開している学習指導要領と教育要領の内容・コードおよび関連する情報を Linked Open Data (LOD) として公開します。LOD化の対象は、現在公開されている全ての学校種別の新旧学習指導要領と教育要領（一部改正を含む）コード表の最新版です。具体的には、公開されている18件の学習指導要領と教育要領コード表を含みます。</p>
<p> 文部科学省がオープンデータとして公開したコード表に対して、広く活用可能なURIを付与するだけでなく、学習基礎データの利活用に向けて、細目コードおよびその他の関連情報のURIを永続的な識別子としたデータモデルを構築し、再利用可能なLODデータセットとして公開しています。</p>
<p>本データセットは、元のコード表と同一ライセンス (CC BY 4.0) のもと、構造化されたRDF/Turtle形式で公開するとともに、解決可能なウェブデータとしても提供しています。</p>
<p>今後、既に構築済みの「<a href="https://w3id.org/jp-textbook/">教科書LOD</a>」との連携や、<a href="https://jpsearch.go.jp">ジャパンサーチ</a>をはじめとするデジタルアーカイブとの連携など、学習のためのコンテンツとの関連付けを通じて、さまざまな活用を進めていきます。ご要望やご質問は<a href="#contact">連絡先</a>までお願いいたします。</p>
<p>参考：<a href="https://www.mext.go.jp/a_menu/other/data_00001.htm">文部科学省　教育データ標準</a></p>
<p>
学習指導要領LODの構築と公開の詳細については下記文献等を参照してください:
</p>
<ul>
<li>江草由佳. 教育関連メタデータLOD化の現状と課題. 「メタデータ」のパースペクティブ. 池内有為・木村麻衣子, 責任編集. 勉誠社, 2025, pp.253-274. <a href="https://bensei.jp/index.php?main_page=product_book_info&cPath=18_72&products_id=103805">https://bensei.jp/index.php?main_page=product_book_info&cPath=18_72&products_id=103805</a></li>
<li>高久雅生, 江草由佳, 榎本聡, 大井将生, 有山裕美子, 阿児雄之.
デジタルアーカイブの教育利用促進を目指したメタデータLOD基盤に関する研究
情報知識学会第33回年次大会, つくば, 情報知識学会誌, vol.35, no.2, pp.262-277 (2025-05)<br/>
<a href="https://speakerdeck.com/masao/research-on-a-metadata-lod-platform-for-promoting-educational-uses-of-digital-archives">[発表スライド]</a></li>
</ul>
<p>また、学習指導要領LOD（教科書LOD及び単元LOD）を紹介するオンライン情報交換会を開催し、その録画動画も公開しています。ご関心の方はぜひご覧ください。</p>
<ul>
  <li>教育データプラス研究会. 学習指導要領LOD＆教科書LODの紹介（2022.10.21 19:00〜）. 2022, <a href="https://www.youtube.com/watch?v=P4QRK8YNBy0">https://www.youtube.com/watch?v=P4QRK8YNBy0</a></li>
</ul>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/P4QRK8YNBy0?rel=0" allowfullscreen></iframe>
</div>

<h2>お知らせ</h2>
<dl>
  <dt>2025年6月25日</dt>
  <dd>
    <i class="bi bi-journal-text text-primary"></i>
    <span class="label paper">書籍刊行</span>
    勉誠社刊行のデジタルアーカイブ・ベーシックスシリーズ『「メタデータ」のパースペクティブ』に学習指導要領LOD等を紹介する記事を寄稿しました。
    <ul>
      <li>江草由佳. 教育関連メタデータLOD化の現状と課題. 「メタデータ」のパースペクティブ. 池内有為・木村麻衣子, 責任編集. 勉誠社, 2025, pp.253-274. <a href="https://bensei.jp/index.php?main_page=product_book_info&cPath=18_72&products_id=103805">https://bensei.jp/index.php?main_page=product_book_info&cPath=18_72&products_id=103805</a></li>
    </ul>
  </dd>
  <dt>2025年5月31日</dt>
  <dd>
    <i class="bi bi-easel text-success"></i>
    <span class="label presentation">発表</span>
    <a href="https://www.jsik.jp/?2025program">情報知識学会 第33回（2025年度）年次大会</a>において、研究報告を行いました。
    <ul>
      <li>高久雅生, 江草由佳, 榎本聡, 大井将生, 有山裕美子, 阿児雄之.
        デジタルアーカイブの教育利用促進を目指したメタデータLOD基盤に関する研究
        情報知識学会第33回年次大会, つくば, 情報知識学会誌, vol.35, no.2, pp.262-277 (2025-05)<br/>
        <a href="https://speakerdeck.com/masao/research-on-a-metadata-lod-platform-for-promoting-educational-uses-of-digital-archives">[発表スライド]</a>
      </li>
    </ul>
  </dd>
  <dt>2023年10月27日</dt>
  <dd>
    <i class="bi bi-easel text-success"></i>
    <span class="label presentation">発表</span>
    <a href="https://conv.jaet.jp/2023/">第49回全日本教育工学研究協議会全国大会</a>において、研究報告を行いました。
    <ul>
      <li>榎本聡, 大井将生, 高久雅生, 阿児雄之, 有山裕美子, 江草由佳.
        学習指導要領コードを介した教科書間連携システムの試案. 
        第49回全日本教育工学研究協議会全国大会, article no. 3-G-4, 4p. (2023-10)<br>
        <a href="https://conv.jaet.jp/2023/">https://conv.jaet.jp/2023/</a>
      </li>
    </ul>
  </dd>
  <dt>2022年6月12日</dt>
  <dd>
    <i class="bi bi-easel text-success"></i>
    <span class="label presentation">発表</span>
    <a href="http://www.jads.org/news/2022/20220611-12.html">アート・ドキュメンテーション学会年次大会</a>において、ポスター発表を行いました。
  <ul><li>
      阿児雄之, 有山裕美子, 江草由佳, 榎本聡, 大井将生, 高久雅生:
      学習指導要領LODの公開と活用の検討.
      2022年度アート・ドキュメンテーション学会年次大会, pp.17-17 (2022-06)<br>
      <a href="http://www.jads.org/news/2022/JADS2022061112.pdf">http://www.jads.org/news/2022/JADS2022061112.pdf</a>
    </li>
  </ul></dd>
  <dt>2022年5月28日</dt>
  <dd>
    <i class="bi bi-easel text-success"></i>
    <span class="label presentation">発表</span>
    <a href="https://www.jset.gr.jp/research/research-2866/">日本教育工学会研究会</a>において、研究報告を行いました。
  <ul><li>
      榎本聡, 大井将生, 高久雅生, 阿児雄之, 有山裕美子, 江草由佳:
      学習指導要領のLinked Open Data化による学習への利活用にむけた検討.
      日本教育工学会研究会, pp.135-142 (2022-05)<br>
      <a href="https://doi.org/10.15077/jsetstudy.2022.1_135">https://doi.org/10.15077/jsetstudy.2022.1_135</a>
    </li>
  </ul></dd>
  <dt>2022年3月18日</dt>
  <dd>
    <i class="bi bi-award text-warning"></i>
    <span class="label award">受賞</span>
    LODチャレンジ2021において、「学習指導要領LOD」が「最優秀賞」およびプラチナスポンサー賞「オラクル賞」を受賞しました。
    <ul>
      <li><a href="https://2021.lodc.jp/awardSymposium2021Report.html">【開催報告】LODチャレンジ2021オンライン授賞式シンポジウム</a> (2022-03-17)
        <ul>
          <li><a href="https://2021.lodc.jp/slide/001.pdf">受賞作品紹介スライド</a></li>
        </ul>
      </li>
      <li><a href="https://2021.lodc.jp/awardPressRelease2021.html">【プレスリリース】Linked Open Data チャレンジ Japan 2021 受賞作品発表</a> (2022-02-14)</li>
    </ul>
  </dd>
  <dt>2021年12月21日
  <dd>
    <i class="bi bi-info-circle text-secondary"></i>
    <span class="label info">お知らせ</span>
    カレントアウェアネス・ポータルによる紹介記事「<a href="https://current.ndl.go.jp/node/45366">「学習指導要領LOD」が公開：文部科学省が公開する学習指導要領と教育要領の内容等をLOD化</a>」が公開されました
  <dt>2021年12月14日
  <dd>
    <i class="bi bi-info-circle text-secondary"></i>
    <span class="label info">お知らせ</span>
    研究会メンバーの大井さんによる紹介記事「<a href="https://labo.wtnv.jp/2021/12/lod.html">学習指導要領LODの公開</a>」（東京大学大学院 渡邉英徳研究室）が公開されました
</dl>

<h2>LOD語彙</h2>
<p>
学習指導要領LODの主なリソースのモデル図を以下に示します。 なお、学習指導要領LODのベースURI <code>https://w3id.org/jp-cos/</code> を下図では <code>cs:</code> のプレフィックスを使って示します。
</p>
<figure class="figure border p-1">
<img class="figure-img img-fluid" src="lod-model-2.3.png" alt="学習指導要領LODのモデル図">
<figcaption class="figure-caption">学習指導要領LODのモデル図（学習指導要領コード「<a href="https://w3id.org/jp-cos/83212A3200000000">83212A3200000000</a>」（中学校・社会科（地理的分野）を例として）</figcaption>
</figure>
