<%- if param[:data][RDF.type.to_s] and param[:data][RDF.type.to_s].include?("https://w3id.org/jp-cos/Item") and param[:data]["https://w3id.org/jp-cos/subjectArea"].first =~ %r!\Ahttps://w3id.org/jp-cos/(Elementary|LowerSecondary)/2017/(社会|理科)\z!o -%>
<div class="row mb-1">
  <div class="col-sm-12">
    <h3>Search on "NHK for School"</h3>
    <button id="nhk4school-button-1" class="btn btn-nhk4school" onclick="get_nhk4school('<%=h param[:data]["http://purl.org/dc/terms/identifier"].first %>')">
      Retrieve search results on this item
      <i class="bi bi-search"></i>
    </button>
    <div id="nhk4school-list-1"></div>
  </div>
</div>
<%- end -%>
