<h2>Overview</h2>
<p>Japanese Course of Study Linked Open Data (LOD) is a dataset which covers codes, contents, and related information for course of studies published by the Ministry of Education, Culture, Sports, Science and Technology (MEXT). The target of LOD is the latest version of code tables from the past and present course of studies (including some revisions) for all school types. Specifically, it includes 18 published course of studies code tables.</p>
<p>Not only the code table released as open data by MEXT be given a URI that can be widely used, but also other related information URIs are added for the utilization of basic learning data. We have built a data model with persistent identifiers and published it as a reusable LOD dataset.</p>
<p>This dataset is published in a structured RDF/Turtle format under the same license as the original code table (CC BY 4.0) and is also provided as resolvable web data.</p> 

<p>In the future, we will promote various utilizations by associating with content for learning, such as linking with "<a href="https://w3id.org/jp-textbook/">Textbook LOD</a>" and linking with digital archives like <a href="https://jpsearch.go.jp">Japan Search</a>.</p>
<p>If you have any inquiries, please <a href="#contact">contact us</a>.</p>

<h2>News</h2>
<dl>
    <dt>March 18, 2022</dt>
    <dd>At LOD Challenge 2021, this dataset won the Best Award and Platinum Sponser Prize.
        <ul>
            <li><a href="https://2021.lodc.jp/awardSymposium2021Report.html">【開催報告】LODチャレンジ2021オンライン授賞式シンポジウム</a> (2022-03-17)
              <ul>
                <li><a href="https://2021.lodc.jp/slide/001.pdf">Presentation slides</a></li>
              </ul>
            </li>
            <li><a href="https://2021.lodc.jp/awardPressRelease2021.html">【プレスリリース】Linked Open Data チャレンジ Japan 2021 受賞作品発表</a> (2022-02-14)</li>
        </ul>
    <dt>December 21, 2021</dt>
    <dd>The dataset is introduced at Current Awareness Portal of NDL: <a href="https://current.ndl.go.jp/node/45366">「学習指導要領LOD」が公開：文部科学省が公開する学習指導要領と教育要領の内容等をLOD化</a></dd>
    <dt>December 14, 2021</dt>
    <dd>The dataset is introduced at the blog of Watanave lab by Oi-san of the project: <a href="https://labo.wtnv.jp/2021/12/lod.html">学習指導要領LODの公開</a></dd>
</dl>

<h2>LOD vocabularies</h2>
<p>
The model diagram of the resources of the Course of Study LOD is shown below.
The base URI <code>https://w3id.org/jp-cos/</code> of the course of study LOD is shown in the figure below using the prefix <code>cs:</code>.
<p>
<img src="lod-model.png" alt="Model diagram of Course of Study LOD">
</p>
<figure class="figure border p-1">
  <img class="figure-img img-fluid" src="lod-model.png" alt="Model diagram of Course of Study LOD">
  <figcaption class="figure-caption">Data model of Course of Study LOD, excerpt from the course of study item "<a href="https://w3id.org/jp-cos/83212A3200000000">83212A3200000000</a>" of the Geographical Field of Social Studies in Lower Secondary School</figcaption>
</figure>
